<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3 w-100">
  <a class="navbar-brand" routerLink="/books">📚 BookApp</a>

  <div class="flex-grow-1"></div>

  <div class="d-flex align-items-center gap-2 order-lg-2">

    <button *ngIf="isLoggedIn()"
            class="btn btn-outline-light rounded-pill shadow-sm px-3 py-2 d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarMenu"
            aria-controls="navbarMenu"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <app-theme-toggle></app-theme-toggle>

  </div>

    <div *ngIf="isLoggedIn()" class="collapse navbar-collapse mt-3 mt-lg-0 justify-content-end" id="navbarMenu">
      <app-navbar></app-navbar>
    </div>
</nav>
