# Ignore Visual Studio folder
.vs/

# Node.js
node_modules/
package-lock.json

# .NET build artifacts
**/bin/
**/obj/
*.user
*.db

# Angular output
BookApi_frontend/dist/
BookApi_frontend/.angular/

# Environment files
**/.env
*.env

# OS files
.DS_Store
Thumbs.db
